{% extends "base.html" %}

{% block title %}Home - U.T.P. Banca Cascella{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 py-2 mb-4">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <span>🏦 U.T.P. Banca Cascella</span>
        </a>

        <button class="navbar-toggler text-white border-0" 
                type="button"
                data-bs-toggle="offcanvas" 
                data-bs-target="#menuLaterale">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="pulsanti-barra ms-auto d-none d-md-flex">
            <a href="/login" class="login me-2">ACCEDI</a>
            <a href="/registrazione" class="register">NUOVO CONTO</a>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" id="menuLaterale">
    <div class="offcanvas-header" style="background: var(--colore1);">
        <h5 class="text-white">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body" style="background: var(--colore1);">
        <a href="/login" class="btn w-100 mb-3 login">ACCEDI</a>
        <a href="/registrazione" class="btn w-100 register">NUOVO CONTO</a>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="home-section d-flex align-items-center">
    <div class="container text-center content container-home">
        <h1 class="title">Benvenuti in U.T.P. Banca Cascella</h1>
        <p class="description">
            Benvenuto! Se sei già nostro cliente, ti invitiamo a esplorare i numerosi servizi a tua disposizione. 
            Se apri per la prima volta un nuovo conto, potrai usufruire di un esclusivo bonus di benvenuto di 100€. 
            Accedi ora per scoprire tutte le opportunità che ti attendono!</p>

        <div class="d-flex justify-content-center mt-4 content-pulsanti">
            <a href="/login" class="accedi me-3">ACCEDI</a>
            <a href="/registrazione" class="crea">NUOVO CONTO</a>
        </div>
    </div>
</main>
{% endblock %}
